# Local .gitignore

.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

.terraform.lock.hcl
*.lock.hcl
*.hcl

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc

terraform.tfvars
*.auto.tfvars

key.pem
wp-key.pem
.env